/*header*/
header {
	background-color: $background-color_3;
	top: 0;
	width: 100%;
	position: sticky;
	z-index: 10;
	/*display: flex;*/

    .header__imagen {
        margin-bottom: 10px;
        width: 45%;
        position: relative;
    }
}