/*estilo personalizados del nav BS*/
a.nav-link {
	color: rgb(62, 124, 186);
	text-decoration: none;
	text-transform: lowercase;
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 100px;
	margin-right: 100px;
	font-family: 'Bebas Neue', cursive;
	transition: all 500ms ease;
	justify-content: center;
	&:hover {
		color: $color_1;
	}
}




.container-fluid {
	background-color: $background-color_1;
}
a.navbar-brand {
	margin: 0px;
	padding-left: 0%;
}