.carousel-caption{
  top:50%;
  
       a{
        text-decoration: none;
       }  

    span.carousel-text{
        font-size: 50px;
        padding: 10px;
        text-shadow: rgb(118, 120, 227) (0em 0.1em);
        
    }

    span.texto-carousel{
        font-size: 50px;
        color: rgb(255, 255, 255);
        text-shadow: rgb(250, 140, 232) (0.1em 0.1em 0.1em);
        

    }



    .contenedor-boton{
       margin: 1em;
       


        .button-carousel{
           
            font-size: 20px;
            color: black;
            background-color: #fff;
            border-radius: 50px;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            transition: all 250ms ease;
            


            &:hover{
                color: #fff;
                background-color: black;
            }
        
        }
            
       
    }
}