.carousel-caption{
  top:50%;
  

    span.carousel-text{
        font-size: 50px;
        padding: 10px;
        
    }

    span.texto-carousel{
        font-size: 50px;
        color: $color_1;
        

    }



    .contenedor-boton{
       margin: 1em;


        .button-carousel{
            width: 100%;
            font-size: 20px;
            color: black;
            background-color: #fff;
            border-radius: 50px;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        
        }
            
       
    }
}