/*sucursales*/
.Secciones {
	nav {
		ul {
			position: sticky;
		}
	}
}

.sucursalContainer {
	



	h2 {
		font-size: 30px;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	p {
		font-family: $font-family_3;
		font-size: 20px;
		margin-bottom: 2em;
	}

	
}
	



