
//*$colores*//

$color_1: #ff00fb;
$color_2: #075344;
$color_3: #ffff;
$color_4: #212529;
$color_5: #a8dadc;
$color_6: #ffffff;
$color_7: rgb(240, 30, 205);
$color_8: rgb(251, 246, 246);
$color_9: #959494;
$color_10: rgb(90, 90, 194);
$color_11: #fffdfd;
$background-color_1: #ffffff;
$background-color_2: #373036;
$background-color_3: rgb(255, 255, 255);
$background-color_4: #fff;
$background-color_5: rgba(255, 255, 255, 0.404);
$background-color_6: #ffffffd6;
$background-color_7: #62bde3;

//*$tipografias*//

$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'Bebas Neue', cursive;
$font-family_3: Arial, Helvetica, sans-serif;
$font-family_4: 'Raleway', sans-serif;


//*TAMAÑOS*//

$tamaño:(
    total:100px,
    mediano:50px,
    pequeño:16px,

);


