@import "_variables.scss";
@import "_fonts.scss";
@import"_mixins.scss";
@import "_basic.scss";
@import"_header.scss";
@import "_slider.scss";
@import "_footer.scss";
@import"_formulario.scss";
@import"_mediaqueries.scss";
@import"_galeria.scss";
@import"_nav.scss";
@import"_bienvenidos.scss";
@import"_productos.scss";
@import"_sucursal.scss";
@import"_comunidad.scss";



/*footer*/
/*padre de los navegadores, listas,div*/
/*header-encabezado*/
/* logo del header*/
/*atumodo logo*/
/*seccion bienvenida*/
/*mediaqueries*/
/*comunidad*/



p {
	font-family: $font-family_1;
	text-align: center;
	font-style: italic;
	font-size: 100%;
}
.container {
	width: 50%;
	display: flex;
}
.Titulo__inicio {
	text-align: center;
	font-family: $font-family_1;
	color: $color_1;
	font-size: 400%;
}
h2 {
	text-align: center;
	font-family: $font-family_1;
	color: $color_7;
}
