footer {
  width: 100px;
  background-color: #fff;
}
footer .Grupo1 {
  width: 100px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
footer .Grupo1 .box figure {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .Grupo1 .box figure a img {
  width: 250px;
}
footer .Grupo1 .box h2 {
  color: #ff00fb;
  margin-bottom: 25px;
  font-size: 20px;
}
footer .Grupo1 .box p {
  color: #075344;
  margin-bottom: 10px;
}
footer .Grupo1 .box .redSocial a {
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 9%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  background-color: #373036;
  transition: all 300ms ease;
}
footer .Grupo1 .box .redSocial a:hover {
  color: #ff00fb;
}
footer .grupo2 {
  background-color: #373036;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

header {
  background-color: #fff;
  padding: 15px;
  top: 0%;
  width: 100px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  display: grid;
}
header .navbar .header__imagen {
  margin-bottom: 10px;
  width: 45%;
  position: relative;
}
header .navbar .nav-link {
  color: rgb(15, 15, 133);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
  margin-right: 100px;
  font-family: "Raleway", sans-serif;
  transition: all 500ms ease;
  justify-content: center;
}
header .navbar .nav-link:hover {
  color: #ff00fb;
}

.formulario {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5rem 1.5rem;
  margin: auto;
}
.formulario .formularioContainer {
  width: 100px;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}
.formulario .formularioContainer .formularioTitulo {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4rem;
}
.formulario .formularioContainer .inputformulario {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}
.formulario .formularioContainer .inputformulario {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}
.formulario .formularioContainer .formularioCta {
  font-family: "Poppins", sans-serif;
  background-color: #62bde3;
  color: white;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
}

.Seccion__Bienvenidos {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.Seccion__Bienvenidos .Caja_1 {
  width: 100px;
  margin: 4em;
  padding: 2em;
  background: #FC354C; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  align-items: center;
}
.Seccion__Bienvenidos .Caja_1 .B__titulo {
  background-color: #fff;
  border-radius: 60px;
  display: inline-block;
  margin: 0px 0px 25px;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  color: #212529;
}
.Seccion__Bienvenidos .Caja_1 .B__titulo img {
  width: 20%;
  justify-content: center;
  align-items: center;
}
.Seccion__Bienvenidos .Caja_1 .B__subtitulo {
  justify-content: center;
  text-align: center;
  color: #a8dadc;
  font-size: 50px;
  margin-top: 1%;
}
.Seccion__Bienvenidos .Caja_1 .B__texto {
  justify-content: center;
  color: #ffffff;
  font-size: 35px;
}/*# sourceMappingURL=estilos.css.map */